.example-parent {
  border: 2px solid #98b9f7;
  color: black;
  display: inline-flex;
  font-family: 'Lucida', cursive;
  font-weight: bold;
}

.example-origin {
  flex-basis: 100%;
  flex-grow: 1;
  padding: 20px;
}

.example-draggable {
  background-color: #ebe1fa;
  font-weight: normal;
  margin-bottom: 20px;
  margin-top: 20px;
  padding: 20px;
  border: 2px solid #98b9f7;
}

.example-dropzone {
  background-color: #98b9f7;
  flex-basis: 100%;
  flex-grow: 1;
  padding: 20px;
  margin-bottom: 20px;
  margin-top: 20px;
}

.title-name {
  background-color: #98b9f7;
  padding: 10px;
  display: inline-flex;
  font-weight: bolder;
  float: left;
  font-family: 'Lucida', cursive;
}
